<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738236932202-1jurn5dskgt38lme6t7hiu1ct54s3ods.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738236932202-1jurn5dskgt38lme6t7hiu1ct54s3ods</string>
	<key>API_KEY</key>
	<string>AIzaSyBRXHEEq9k8eCvMte-JNIIOceez-n5op78</string>
	<key>GCM_SENDER_ID</key>
	<string>738236932202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontEndPocketPoll</string>
	<key>PROJECT_ID</key>
	<string>pocketpollmessaging</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketpollmessaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738236932202:ios:12b974ffd6c32fc6d46a13</string>
	<key>DATABASE_URL</key>
	<string>https://pocketpollmessaging.firebaseio.com</string>
</dict>
</plist>